*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# MongoDB
QPlanData/*
QPlanData/!*.wt
QPlanData/sizeStorer.wt
QPlanData/WiredTiger.wt
QPlanData/WiredTigerLAS.wt
QPlanData/collection-0*
QPlanData/collection-2*
QPlanData/collection-4*
QPlanData/index-1*
QPlanData/index-3*
QPlanData/index-5*
QPlanData/index-6*